<%- include('partials/header'); -%>

<h1>POST</h1>
<form action='/zidpost' method="POST">
	<div class="form-group">
		<label>Title</label>
		<input class="form-control" type="text" placeholder="Title" name="postTitle">
	</div>
	<div class="form-group">
	<label>Post</label>
	<textarea class="form-control" name="postBody" rows="5" cols="30">
	</textarea>
	</div>
	<div class="d-grid ">
	<button type="submit" name="button" class="btn btn-outline-dark m-3">Publish</button>
	</div>
</form>


<%- include('partials/footer'); -%>